{% extends 'ApplicationDetails/base.html' %}

{% block body %}
<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid justify-content-center">
        <div class="row ">
            <div class="col-sm-8 col-md-6 col-lg-4 offset-md-4 mt-5 mb-5">
                <div class="card shadow rounded-lg mx-auto" style="max-width: 450px;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title my-3">
                            <h5 class="mb-0">Add Application Details</h5>
                        </div>
                    </div>
                    <div class="card-body text-center px-4">
                        <form method="POST" class="form-group mb-3">
                            {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group mb-3">
                            {% if field.name == 'date' %}
                                {{ field.as_p }}
                                <input type="date" class="form-control form-control-date" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="Enter Application Date"  {% if field.field.required %} required{% endif %}>
                            {% else %}
                                {{ field.as_p }}
                                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" {% if field.field.required %} required{% endif %}>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit">Save Application Details</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}