{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "ApplicationDetails/images/Application_job.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    {% include "search_detail_list.html" %}
    <div class="container-fluid justify-content-center">
        <div class="row ">
            <div class="col-sm-10 col-md-10 col-lg-10 offset-md-1 mt-5 mb-5">
                <div class="card shadow rounded-lg mx-auto" style="max-width: 1080px;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title my-3">
                            <h1>Job Applications for {{ applications.0.date }}</h1>
                        </div>
                    </div>
                     <div class="card-body text-center px-4">
                        <div class="table-responsive table-responsive-md table-responsive-sm">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Portal's Name</th>
                                    <th scope="col">Job Title</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">Job Location</th>
                                    <th scope="col">Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for application in applications %}
                                    <tr>
                                        <th scope="row"> {{ application.portal_name }} </th>
                                        <th scope="row"> {{ application.job_title }} </th>
                                        <th scope="row"> {{ application.company_name }} </th>
                                        <th scope="row">{{ application.job_location }}</th>
                                        <td><a href="{% url 'ApplicationDetails:application_details' application.date application.id %}"><button class="btn btn-outline-primary">View Details</button></a> </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% include "pagination.html" with page=page_obj %}
</body>
{% endblock %}
