{% extends 'ApplicationDetails/base.html' %}
{% block body %}

<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid mt-5">
        <div class="col mt-5">
            <div class="row-md-6 lg-6">
                <h1 class="text-white" style="text-align:center"> {{ object.job_title }} </h1>
            </div>
            <div class="row-md-6">
                <h1 class="text-white" style="text-align:center"> {{ object.company_name }} </h1>
                <h2 class="text-white" style="text-align:center"> {{ object.job_location }} </h2>
                <h3 class="text-white" style="text-align:center"> {{ object.portal_name }} </h3>
                <h5 class="text-white" style="text-align:center"> {{ object.contact_details }} </h5>
                <h5 style="text-align:center"><a href="{{ object.application_link }}" class="link-light link-underline-info">Application Link</a></h5>
                <h6 class="text-white text-wrap text-center" style="text-align:center; word-wrap: break-word; overflow-wrap: break-word; white-space: pre-wrap; text-align: center; padding: 0 10px;"> {{ object.remarks }} </h6>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-center">
            <a href="{% url 'ApplicationDetails:edit_application' object.id %}" class="btn btn-info">Edit Application Details</a>
            </div>
            <div class="col-md-6 text-center">
            <a href="{% url 'ApplicationDetails:delete_application' object.id %}" class="btn btn-danger">Delete Application Details</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}