{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "ApplicationDetails/images/Application_job.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card shadow rounded-lg mx-auto" style="max-width: 720px;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title my-3">
                            <h1>Job Applications</h1>
                        </div>
                    </div>
                    <div class="card-body text-center px-4">
                        <div class="table-responsive table-responsive-md table-responsive-sm">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Applications Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if no_data %}
                                        <tr class="alert alert-warning" role="alert">
                                            <td colspan="2" class="text-warning text-center fs-6 fw-semibold">There are no Job Applications found.</td>
                                        </tr>
                                    {% else %}
                                        {% for application_count in application_counts %}
                                        <tr>
                                            <th scope="row">{{ application_count.date }}</th>
                                            <td><a href="{% url 'ApplicationDetails:application_detail_list' application_count.date %}">{{ application_count.count }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "pagination.html" with page=page_obj %}
</body>
{% endblock %}
