{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
  <div class="container mt-5 border border-primary-subtle rounded-5 alert alert-danger" role="alert" >
      <div class="row justify-content-center mt-5 mb-4">
        <div class="col-md-8 mt-5 mb-4">
          <form method="POST">
              {% csrf_token %}
              <h2 class="fs-2 alert-heading lh-base fw-semibold text-center">Are you sure you want to <span class="text-danger bg-primary-subtle border border-primary-subtle rounded-2">delete</span> details of <span class="text-primary-emphasis">{{jobapplication.portal_name}}</span> application in <span class="text-success">{{jobapplication.company_name}}</span> as <span class="fs-2 fw-bold text-success-emphasis">{{jobapplication.job_title}}</span> </h2>
              <div class="text-center mt-3">
                  <a href="{% url 'ApplicationDetails:application_detail_list' object.date %}"> <button type="submit" class="btn btn-warning">Confirm</button> </a>
              </div>
          </form>
        </div>
      </div>
  </div>
</body>
{% endblock %}