{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "ApplicationDetails/images/Application_job.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 offset-md-0 mt-5 mb-5">
                <div class="card shadow rounded-lg mx-auto" style="max-width: 1080px;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title my-3">
                            <h5 class="mb-0">Edit Application for {{ jobapplication.job_title }} in {{ jobapplication.company_name }} </h5>
                        </div>
                    </div>
                    <div class="card-body px-4" style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
                        <form method="POST" class="row g-3 mb-3">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="col-md-5 mb-3 text-info">
                                <strong><label for="floatingInput">{{field.label_tag}}</label></strong>
                            </div>
                            <div class="col-md-7 mb-3">
                                {{ field }}

                            </div>
                            {% endfor %}
                            <div class="form-group text-center">
                                <a href="{% url 'ApplicationDetails:application_details' jobapplication.date jobapplication.id %}"> <button type="submit" class="btn btn-outline-primary"> Update Application </button> </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
