<form action="" method="get">
    <div class="input-group mt-4 mb-5 d-flex justify-content-center">
        <div class="col-md-6">
        <input type="search" name="search_field" id="search_box" class="form-control" placeholder="Type Applications to search...">
            <!--<option value="{{ job_application.company_name }}">-->
        </div>
        <!--<div class="col-md-2">
        <button class="btn btn-outline-info" type="submit" id="button-addon">Search</button>
        </div>-->
    </div>
</form>