{% extends 'ApplicationDetails/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin,latin-ext'><link rel="stylesheet" href="./style.css">

</head>
{% block body %}
<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card mt-5">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title">
                            <h5 class="mb-0">Log In</h5>
                        </div>
                    </div>
                    <div class="card-body text-center" style="background-color: #FAEBD7;">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group me-4 mt-1 mb-3">
                                <label for="{{ form.username.id_for_label }}">
                                    {{ form.username.label_tag }}
                                </label>
                                {{ form.username }}
                            </div>
                            <div class="form-group ms-1 mb-1">
                                <label for="{{ form.password.id_for_label }}">
                                    {{ form.password.label_tag }}
                                </label>
                                {{ form.password }}<i class="fa-solid fa-circle-info text-info flot-right ms-2" data-toggle="tooltip" data-placement="right" title="Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t  be a commonly used password.
Your password can’t be entirely numeric."></i> 
                            </div>
                            <div class="form-group float-middle ms-4 mb-3">
                                <input type="checkbox" id="show-password" class="form-check-input">
                                    <label for="show-password" class="form-check-label">Show Password</label>
                            </div>
                            <div class="form-group text-center mt-4">
                                <p><a href="{% url 'password_reset' %}" class="link-primary link-offset-2 fw-semibold link-underline-opacity-25 link-underline-opacity-100-hover">Forgot Password?</a></p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-primary">Login</button>
                            </div>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Initialize tooltips -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        const passwordInput = document.getElementById('{{ form.password.id_for_label }}');
        const showPasswordCheckbox = document.getElementById('show-password');
    
        showPasswordCheckbox.addEventListener('change', function() {
            if (this.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    </script>
{% endblock %}

</body>
</html>