{% extends 'ApplicationDetails/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
{% block body %}
<body style="background-image: url('{% static "ApplicationDetails/images/Application_job.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container mt-5 text-center">
        <div class="alert alert-success" role="alert">
            <h2 class="alert-heading lh-base">ThankYou for spending your Quality time with Job Portal Application Tracker!</h2>
                <p>You have been logged out of App. See you soon again.</p>
                <br>
            <h3> Click Here to <a role="button" href="{% url 'login' %}" class="btn btn-outline-primary">Log In</a> again.</h3>
        </div>
    </div>
</body>
{% endblock %}
</html>