{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "users/images/background_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card mt-5 alert alert-success" role="alert">
                    <div class="card-header text-center card-title">
                        <h2 class="text-center">Password changed successfully.</h2>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="text-center"><a href="{% url 'ApplicationDetails:application_list' %}">Click Here</a> to return to the Home Page.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}