{% extends 'ApplicationDetails/base.html' %}
{% block body %}

<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card rounded-3 mt-5" style="background-image: url('{% static "users/images/ResetPass.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title">
                            <h4>Reset Password</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if validlink %}
                        <form method="POST" class="text-center mb-4">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <span class="text-light fw-semibold">Enter a New Password</span>
                                <div class="form-group ms-5">
                                    {{ form.new_password1 }}
                                        <input type="checkbox" id="show-new-password1" class="form-check-input">
                                        <label for="show-new-password1" class="text-light form-check-label">View</label>
                                        <span class="float-middle me-5">
                                            <i class="fa-solid fa-circle-info text-warning" data-toggle="tooltip" data-placement="right" title="Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t  be a commonly used password.
Your password can’t be entirely numeric."></i>
                                        </span>
                                    {% if form.new_password1.errors %}
                                        <ul class="text-danger">
                                            {% for error in form.new_password1.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <span class="text-light fw-semibold">Confirm your New Password</span>
                                <div class="form-group me-4">
                                    {{ form.new_password2 }}
                                    <input type="checkbox" id="show-new-password2" class="form-check-input">
                                    <label for="show-new-password2" class="text-light form-check-label">View</label>
                                    {% if form.new_password2.errors %}
                                        <ul class="text-danger">
                                            {% for error in form.new_password2.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-info">Reset Password</button>
                            </div>
                        </form>
                        {% else %}
                            <h2 class="text-light">Password reset link is invalid.</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Initialize tooltips -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
            
        const newPassword1Input = document.getElementById('{{ form.new_password1.id_for_label }}');
        const showNewPassword1Checkbox = document.getElementById('show-new-password1');
    
        showNewPassword1Checkbox.addEventListener('change', function() {
            if (this.checked) {
                newPassword1Input.type = 'text';
            } else {
                newPassword1Input.type = 'password';
            }
        });
    
        const newPassword2Input = document.getElementById('{{ form.new_password2.id_for_label }}');
        const showNewPassword2Checkbox = document.getElementById('show-new-password2');
    
        showNewPassword2Checkbox.addEventListener('change', function() {
            if (this.checked) {
                newPassword2Input.type = 'text';
            } else {
                newPassword2Input.type = 'password';
            }
        });
    </script>
</body>

{% endblock %}