{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "users/images/ResetPass.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card mt-5 alert alert-success" role="alert">
                    <div class="card-header text-center card-title">
                        <h4 class="text-center">Your password has been successfully reset.</h4>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-center"><a href="{% url 'login' %}">Click Here</a> to Log-In.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}