{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "users/images/background_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid rounded-4">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card rounded-3 mt-5" style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title">
                            <h4>Reset Password</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="text-center mb-4">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <span class="text-light">Enter your E-Mail address to receive Password reset link.</span>
                                <div class="form-group">
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                    <ul class="text-danger">
                                        {% for error in form.email.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}