{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "users/images/background_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card mt-5 alert alert-info" role="alert">
                    <div class="card-header text-center card-title">
                        <h4 class="text-center">We have sent you an E-Mail with Password Reset link.</h4>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-center">Please check your E-mail.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}