{% extends 'ApplicationDetails/base.html' %}
{% block body %}
<body style="background-image: url('{% static "users/images/profile_bg.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg p-4 rounded-3">
                    <h2 class="card-title text-center mb-4 text-primary">Update Profile</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="text-center mb-4">
                            <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="rounded-circle img-thumbnail" width="150">
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="file" name="image" id="{{ profile_form.image.id_for_label }}" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="{{ profile_form.location.id_for_label }}" class="form-label">Your {{ profile_form.location.label }}</label>
                            <div class="input-group">
                                {{ profile_form.location }}
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}