{% extends 'ApplicationDetails/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
{% block body %}
<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="d-flex mt-5 justify-content-center">
        <div class="card rounded-4 mb-3 mt-5" style="background-image: url('{% static "users/images/background_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
            <div class="row no-gutters mt-5">
                <div class="text-center mb-4">
                    <img class="rounded-circle mx-auto img-thumbnail" src="{{ user.profile.image.url }}" height="100px" width="100px" alt="{{ user.username }} profile picture">
                </div>
                <div class="card-body text-center">
                    <h1 class="card-title text-light display-4 fs-1 fw-bolder text-capitalize">{{ user.username }}</h1>
                    <h2 class="card-subtitle display-4 fs-2 fw-bolder"><a class="card-link link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'users:profile_details' %}">Update Profile</a></h2>
                    <h2 class="card-subtitle display-4 fs-2 fw-bolder"><a class="card-link link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'new_password' %}">Change Password</a></h2>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>