{% extends 'ApplicationDetails/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
{% block body %}
<body style="background-image: url('{% static "users/images/background_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid justify-content-center">
        <div class="row ">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-md-3 mt-5 mb-5">
                <form method="POST" class="form-group mb-3">
                {% csrf_token %}
                    <div class="card shadow rounded-lg mx-auto" style="max-width: 450px;">
                        <div class="card-header bg-info text-white text-center">
                            <div class="card-title my-3">
                                <h5 class="mb-0">Register</h5>
                            </div>
                        </div>
                        <div class="card-body text-center px-4">
                            <div class="form-group mb-3">
                                <input type="text" id="username" name="username" placeholder="Username" class="form-control mb-3" required>
                                {% if form.username.errors %}
                                    <ul class="text-danger">
                                        {% for error in form.username.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" id="email" name="email" placeholder="Email" class="form-control mb-3" required>
                                {% if form.email.errors %}
                                    <ul class="text-danger">
                                        {% for error in form.email.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group mb-0">
                                <input type="password" id="password1" name="password1" placeholder="Password" class="form-control mb-3" required>
                                {% if form.password1.errors %}
                                    <ul class="text-danger">
                                        {% for error in form.password1.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="form-group">
                                    <span class="float-start mb-3">
                                        <input type="checkbox" id="show-password1" class="form-check-input">
                                        <label for="show-password1" class="form-check-label fs-6 text-muted">Show Password</label>
                                        <i class="fa-solid fa-circle-info text-info" data-toggle="tooltip" data-placement="right" title="Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t  be a commonly used password.
Your password can’t be entirely numeric."></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="form-control mb-3" required>
                                {% if form.password2.errors %}
                                    <ul class="text-danger">
                                        {% for error in form.password2.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="form-group">
                                    <span class="float-start">
                                        <input type="checkbox" id="show-password2" class="form-check-input">
                                        <label for="show-password2" class="form-check-label fs-6 text-muted">Show Password</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <p>Already have an account?<a href="{% url 'login' %}" class="text-primary"> LogIn</a></p>
                        </div>
                        <div class="form-group text-center gap-2 mb-3">
                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Initialize tooltips -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
        
    const password1Input = document.getElementById('password1');
    const showPassword1Checkbox = document.getElementById('show-password1');

    showPassword1Checkbox.addEventListener('change', function() {
        if (this.checked) {
            password1Input.type = 'text';
        } else {
            password1Input.type = 'password';
        }
    });

    const password2Input = document.getElementById('password2');
    const showPassword2Checkbox = document.getElementById('show-password2');

    showPassword2Checkbox.addEventListener('change', function() {
        if (this.checked) {
            password2Input.type = 'text';
        } else {
            password2Input.type = 'password';
        }
    });
</script>

{% endblock %}
</html>